@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
:root {
  --primary: #1dd1a1;
  --primary-light: #58c5a9;
  --primary-dark: #10ac84;
  --bg: #e7f7f3;
  --text: #02110d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.6rem;
  font-family: 'Pangolin', cursive;

  background-color: var(--bg);
  color: var(--text);
}

.container {
  border: 1px solid var(--primary-dark);
  border-radius: 5px;
  padding: 2rem;
}

.header {
  margin-bottom: 4rem;
  text-align: center;
}

.header h1 {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 0.4rem;
}

.header small {
  font-size: 1.6rem;
}

form {
  margin-bottom: 4rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

input {
  padding: 0.4rem;
  outline: none;
  border: 1px solid var(--primary-dark);
  border-radius: 3px;
  text-align: center;
}

.btn {
  font-family: cursive;
  font-size: 2rem;
  padding: 1rem 2rem;
  align-self: center;
  cursor: pointer;
  background-color: var(--primary);
  border: 1px solid var(--primary-dark);
  border-radius: 3px;
}

.output {
  background-color: var(--primary-light);
  border: 2px solid var(--primary-dark);

  height: 10rem;
  border-radius: 3px;
  padding: 2rem;

  font-size: 1.8rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
